@font-face {
    font-family: 'OpenSans-Regular';
    src: url('Open_Sans/OpenSans-Regular.ttf');
}
body {
    font-family: OpenSans-Regular;
    font-size: 1.1rem;
    width: 900px;
    background-color:#2f3848 ;
    margin: auto;
    color: white;
}
header> h1 {
    font-style: oblique 20deg;
    background-color: #f05768;
    color: white;
    text-align: center;
    border-bottom: solid rgb(189, 210, 238);
    border-radius: 3px;
}
h1{
    color:#00ccff;
}
a{
    color:yellowgreen;
}
header> nav> ul{
    list-style: none;
}
nav>ul>li{
    display:inline;
}
#mainMenu>ul>li{
    padding: none;
    margin:none;
    margin-right: 10px;
}
#mainMenu>ul>li>a{
    color: yellowgreen;
}
.menu {
    display: flex;
    flex-direction: row;
}
.menu>div{
    flex:1 1 auto;
}
#mainMenu>ul{
    padding: 0px;
}
#mainMenu{
    text-align: left;
}
#social{
    text-align: right;
}
#social img{
    margin: 3px;
    height: 20px;
    width: 20px;
}
figcaption{
    padding: 1px;
    position: relative;
    top:-563px;
    font-size: 1.1em;
    background-color: #f05768;
    width: 320px;
    text-transform: uppercase;
}