@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../Open_Sans/OpenSans-Regular.ttf');
}
body {
    font-family: OpenSans-Regular;
    font-size: 1.1rem;
    width: 900px;
    background-color:#2f3848 ;
    margin: auto;
    color: white;
}
header> h1 {
    font-style: oblique 20deg;
    background-color: #f05768;
    color: white;
    text-align: center;
    border-bottom: solid rgb(189, 210, 238);
    border-radius: 3px;
}
h1{
    color:#00ccff;
}
a{
    color:yellowgreen;
}
header> nav> ul{
    list-style: none;
}
nav>ul>li{
    display:inline;
}
#mainMenu>ul>li{
    padding: none;
    margin:none;
    margin-right: 10px;
}
#mainMenu>ul>li>a{
    color: yellowgreen;
}
.menu {
    display: flex;
    flex-direction: row;
}
.menu>div{
    flex:1 1 auto;
}
#mainMenu>ul{
    padding: 0px;
}
#mainMenu{
    text-align: left;
}
#social{
    text-align: right;
}
#social img{
    margin: 3px;
    height: 20px;
    width: 20px;
}
figure{
    margin-bottom: -10px;
}
figcaption{
    padding: 1px;
    position: relative;
    top:-563px;
    font-size: 1.1em;
    background-color: #f05768;
    width: 320px;
    text-transform: uppercase;
}
.mainFlex img{
    width: 150px;
    height: 150px;

}
.subFlexOne>img{
    width: 310px;
    height: 310px;
}
.subFlexOne{
    width: 46%;
    margin-right:6px;
}
.subFlexTwo{
    width: 50%;
}
.subFlexTwo>*{
    margin: 3px;
}
.subFlexThree>*{
    margin: 3px;
    margin-bottom: 6px;
}
.mainFlexLeft{
    width: 60%;
    flex:3 0;
    display: flex;
    flex-wrap: wrap;
}
.mainFlexRight{
    width: 30%;
    flex:1 0;
}
.mainFlex{
    display:flex ;
    flex-wrap: wrap;
}
.mainFlexRight{
    background-color: #004488;
    height: 380px;
}
.mainFlexRight h1{
    text-transform: uppercase;
    font-size: 1.1em;
    border-bottom: solid;
    border-color: #00ccff;
    border-width: 2px;
    margin: 10px 10px;
    padding-bottom: 20px;
}
.mainFlexRight p{
    color: yellowgreen;
    padding: 10px 10px;
    font-size: 0.8em;
}
footer{
    text-align: center;
    color: #00ccff;
    margin-top: 20px;
}